::placeholder {
  font-family: 'Roboto';
  font-weight: 300;
}

button, .btn {
  background-color: #B5AAAA;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-family: Roboto;
  font-weight: 300;
}

form, .left-side, .right-side {
  display: flex;
}

#formContainer {
  position: relative;
  width: 100%;
  height: 90vh;
}

form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.left-side, .right-side {
  flex-direction: column;
}

.left-side {
  justify-content: flex-start;
  margin-right: 10px;
}

.left-side label {
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.left-side h2 {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 8px;
}

.left-side input {
  margin-bottom: 10px;
  width: 300px;
  padding-left: 25px;
}

.left-side button {
  align-self: center;
  width: max-content;
}

.inputWrapper {
  position: relative;
}

.inputWrapper img.left-icon {
  position: absolute;
  height: 15px;
  left: 5px;
  top: 4px;
}

.inputWrapper img.separator {
  position: absolute;
  height: 15px;
  left: 23px;
  top: 4px;
}

.inputWrapper img.right-icon {
  position: absolute;
  height: 15px;
  right: 5px;
  top: 4px;
}

.inputWrapper img.right-icon:hover {
  cursor: pointer;
}

.right-side {
  justify-content: center;
  margin-left: 10px;
}

.right-side p {
  margin-top: 0px;
  margin-bottom: 10px;
  align-self: center;
}

.right-side a {
  text-decoration: none;
  align-self: center;
  margin-bottom: 10px;
}

label, input, button {
  display: block;
}

button:hover {
  cursor: pointer;
}