form {
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
}

label, .inputWrapper, button {
  position: relative;
}

label {
  margin-bottom: 5px;
}

.inputWrapper {
  margin-bottom: 15px;
}

.inputWrapper img.left-icon {
  position: absolute;
  left: 5px;
  top: 3px;
  z-index: 2;
  height: 18px;
}

.inputWrapper img.separator {
  position: absolute;
  left: 27px;
  z-index: 2;
  height: 20px;
  top: 2px;
}

.inputWrapper input {
  position: relative;
  height: 25px;
  width: 210px;
  padding-left: 30px;
}

.buttonWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.buttonWrapper small {
  display: none;
  align-self: center;
  margin-left: 5px;
  color: #A82323;
}