a.news-item {
  text-decoration: none;
  color: black;
}

.news-item {
  width: 300px;
  justify-self: center;
}

.news-item img {
  width: 100%;
  height: 168px;
}

.news-item p {
  margin: 0px;
}

.news-item p.title {
  font-weight: 700;
}

.news-item p.time, .news-item p.category {
  font-weight: 200;
}